/* html body tag style */  
body {  
    margin: 0px;  
    padding: 0px; 
    background-color: #E9EAED; 
}  
  
/* h1 tag style */  
h1 {  
    margin: 0px;  
    padding: 0px;  
    font-family: tahoma;  
    font-size: 140%;  
}  
  
/* CSS Style Rule for Div having id="outer-container" */  
/* outer-container will hold the whole assembly of  
   nested div overlays. */  
/* It will also center align the design */  
#outer-container {  
    width: 990px;  
    margin: 0 auto;  
}  
  
/* footer CSS Style Rule */  

div{
    /*border: 1px solid black;*/
}
#header {  
    width: 990px;  
    height: 90px;  
}  
  
/* footer CSS Style Rule */  
#footer {  
    width: 990px;    
}  
  
/* content-container CSS Style Rule */  
/* It will hold the main content of the page. */  
/* it is the middle column */  
/* in this 3 columns div layout */  
#content-container {  
    width: 626px;  
    /*height: 400px;*/  
    margin: 2px 0px 2px 0px;  
    float: left;  
}  
  
/* left sidebar that is the left side column of */  
/* 3 columns div layout */  
#left-sidebar {  
    width: 250px;  
    /*height: 400px;*/  
    margin: 2px 2px 2px 0px;  
    float: left;
    border: solid 1px grey;
}  
  
/* right sidebar that is the right side column of */  
/* 3 columns div layout */  
#right-sidebar {  
    width: 180px;  
    /*height: 400px;*/  
    margin: 2px 0px 2px 2px;  
    float: left;  
}  
  
/* Top navigation CSS Style Rule */  
#top-Nav {  
    width: 100%;
    background-color: #46629E;
    }  
/* 
    end of main divs table 
*/
.clearFloat
{
    clear:both;
}
.artistsPane {
    font-size: 15px;
}
.artistsPane.searchInput {
    font-size: 15px;
    border: solid grey 1px;
}
.artistsPane.genre
{
    text-align: center;
    padding: 5px 0px 5px 0px;
}
.artistsPane.searchbox
{
    text-align: center;
    padding: 5px 0px 5px 0px;
}
.artistsPane label
{
    text-align: center;
    padding: 5px 5px 5px 5px;
}
.artistsPane.list
{
    list-style-type: none;
}
.artistsPane.listItem{
    background-color: white;
    width:100%;
    border-radius: 10px/30px;
    border: solid grey 1px;
}
.artistsPane.listItem img{
    float: right;
    padding: 5px 5px 5px 5px;
}
.artistsPane.listItem span{
    float:  ;
    padding: 5px 5px 5px 5px;
}
.artistsPane.createNew {
    border: solid grey 1px;
    text-align: center;
}
.artistsPane.updateExisting {
    border: solid grey 1px;
    text-align: center;
}
.errors
{
    color: red;
}