/* html body tag style */  
body {  
    margin: 0px;  
    padding: 0px;  
}  
  
/* h1 tag style */  
h1 {  
    margin: 0px;  
    padding: 0px;  
    font-family: arial;  
    font-size: 140%;  
}  
  
/* CSS Style Rule for Div having id="outer-container" */  
/* outer-container will hold the whole assembly of  
   nested div overlays. */  
/* It will also center align the design */  
#outer-container {  
    width: 990px;  
    margin: 0 auto;  
}  
  
/* footer CSS Style Rule */  

div{
    border: 1px solid black;
}
#header {  
    width: 990px;  
    height: 90px;  
}  
  
/* footer CSS Style Rule */  
#footer {  
    width: 990px;    
}  
  
/* content-container CSS Style Rule */  
/* It will hold the main content of the page. */  
/* it is the middle column */  
/* in this 3 columns div layout */  
#content-container {  
    width: 626px;  
    /*height: 400px;*/  
    margin: 2px 0px 2px 0px;  
    float: left;  
}  
  
/* left sidebar that is the left side column of */  
/* 3 columns div layout */  
#left-sidebar {  
    width: 250px;  
    /*height: 400px;*/  
    margin: 2px 2px 2px 0px;  
    float: left;  
}  
  
/* right sidebar that is the right side column of */  
/* 3 columns div layout */  
#right-sidebar {  
    width: 180px;  
    /*height: 400px;*/  
    margin: 2px 0px 2px 2px;  
    float: left;  
}  
  
/* Top navigation CSS Style Rule */  
#top-Nav {  
    width: 990px;  
/* 
    end of main divs table 
*/
.artistsPane {
    font-size: 55px;
    background-color: red;
}
.createNew {
    font-size: 55px;
    background-color: red;
}
.artistsPane.createNew {
    font-size: 55px;
    background-color: red;
}
