html(ng-app='artistsManagerApp')
  head
    title My Site
    script(src='/views/scripts/angular.js')
    script(src='/views/scripts/angular-route.js')
    script(src='/views/scripts/app.js')
    script(src='/views/scripts/controllers.js')
    link(rel='stylesheet', href='/styles/app.css')
  body
    h1
    div(id="header")
      h1{ Header }
    div(style="clear: both")
    div(id="top-Nav")  
      h1{ Top Navigation }  
    div(style="clear: both")  
    div(id="left-sidebar")
      h1{ Left Sidebar }
      div(ng-controller="ArtistsListCtrl" class="artistsPane")
        div(class="artistsPane genre")
          label Genre
          select(ng-model="genre" ng-options="g.name for g in metaData.genres")
            option(value="") -- choose genre --
        div(class="artistsPane searchbox")
          label Search
          input(ng-model="query")
          input(type="button" value="Refresh")
        div
          ul(class="artistsPane list")
            li(class="artistsPane listItem" ng-repeat="artist in artists | filter:query | filter:{genreId:genre.id} | orderBy:artistsOrderProp") 
              a(href="" ng-click="getAlbums(artist)") {{artist.name}}
                img(ng-src="{{artist.imageUrl}}" style="width:60px;")
        div(class="artistsPane updateExisting")
          h4 Update {{selectedArtist.name}}
          label Image Url
          input(ng-model="existingArtistImageUrl")
          input(type="button" value="Update" ng-click="updateArtist(existingArtistImageUrl)")
        div(class="artistsPane createNew") 
          h4 Create New
          label Artist Name
          input(ng-model="newArtistName")
          label Image Url
          input(ng-model="newArtistImageUrl")
          input(type="button" value="Create" ng-click="createNewArtist(newArtistName, newArtistImageUrl)")

    div(id="content-container")  
      h1{ Content }  
    div(id="right-sidebar")  
      h1{ Right Sidebar }  
    div(style="clear: both")
    div(id="footer")
      h1{ Footer }